In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
def confusion_matrix(yActual,yPredicted):
    
    true_possitive = sum((yActual==1)&(yPredicted==1))
    true_negative = sum((yActual==0)&(yPredicted==0))
    false_possitive = sum((yActual==0)&(yPredicted==1))
    false_negative = sum((yActual==1)&(yPredicted==0))
    
    
    return true_possitive,true_negative,false_possitive,false_negative

In [6]:
data = pd.DataFrame({'yActual':[1,0,1,0],
                            'yPredicted':[0.8,0.6,0.4,0.2]})
data

   yActual  yPredicted
0        1         0.8
1        0         0.6
2        1         0.4
3        0         0.2

In [9]:
data['y0'] = [1,1,1,1]
data

   yActual  yPredicted  y0
0        1         0.8   1
1        0         0.6   1
2        1         0.4   1
3        0         0.2   1

In [10]:
data['yPoint2'] = [1,1,1,1]
data['yPoint4'] = [1,1,1,0]
data['yPoint6'] = [1,1,0,0]
data['yPoint8'] = [1,0,0,0]
data['yPoint1'] = [0,0,0,0]

In [11]:
data

   yActual  yPredicted  y0  yPoint2  yPoint4  yPoint6  yPoint8  yPoint1
0        1         0.8   1        1        1        1        1        0
1        0         0.6   1        1        1        1        0        0
2        1         0.4   1        1        1        0        0        0
3        0         0.2   1        1        0        0        0        0

In [14]:
# For y0
true_possitive,true_negative,false_possitive,false_negative = confusion_matrix(data['yActual'],data['y0'])

fpr = false_possitive/(false_possitive+true_negative)
print('FPR for p0 = ',fpr)

tpr = true_possitive/(true_possitive+false_negative)
print('TPR for p0 = ',tpr)

FPR for p0 =  1.0
TPR for p0 =  1.0

In [15]:
# For y0.2
true_possitive,true_negative,false_possitive,false_negative = confusion_matrix(data['yActual'],data['yPoint2'])

fpr = false_possitive/(false_possitive+true_negative)
print('FPR for p0.2 = ',fpr)

tpr = true_possitive/(true_possitive+false_negative)
print('TPR for p0.2 = ',tpr)

FPR for p0.2 =  1.0
TPR for p0.2 =  1.0

In [16]:
# For y0.4
true_possitive,true_negative,false_possitive,false_negative = confusion_matrix(data['yActual'],data['yPoint4'])

fpr = false_possitive/(false_possitive+true_negative)
print('FPR for p0.4 = ',fpr)

tpr = true_possitive/(true_possitive+false_negative)
print('TPR for p0.4 = ',tpr)

FPR for p0.4 =  0.5
TPR for p0.4 =  1.0

In [17]:
# For y0.6
true_possitive,true_negative,false_possitive,false_negative = confusion_matrix(data['yActual'],data['yPoint6'])

fpr = false_possitive/(false_possitive+true_negative)
print('FPR for p0.6 = ',fpr)

tpr = true_possitive/(true_possitive+false_negative)
print('TPR for p0.6 = ',tpr)

FPR for p0.6 =  0.5
TPR for p0.6 =  0.5

In [18]:
# For y0.8
true_possitive,true_negative,false_possitive,false_negative = confusion_matrix(data['yActual'],data['yPoint8'])

fpr = false_possitive/(false_possitive+true_negative)
print('FPR for p0.8 = ',fpr)

tpr = true_possitive/(true_possitive+false_negative)
print('TPR for p0.8 = ',tpr)

FPR for p0.8 =  0.0
TPR for p0.8 =  0.5

In [19]:
# For y1
true_possitive,true_negative,false_possitive,false_negative = confusion_matrix(data['yActual'],data['yPoint1'])

fpr = false_possitive/(false_possitive+true_negative)
print('FPR for p1 = ',fpr)

tpr = true_possitive/(true_possitive+false_negative)
print('TPR for p1 = ',tpr)

FPR for p1 =  0.0
TPR for p1 =  0.0

In [20]:
data.rename({'yPoint1':'y1'},inplace=True)
data

   yActual  yPredicted  y0  yPoint2  yPoint4  yPoint6  yPoint8  yPoint1
0        1         0.8   1        1        1        1        1        0
1        0         0.6   1        1        1        1        0        0
2        1         0.4   1        1        1        0        0        0
3        0         0.2   1        1        0        0        0        0