In [22]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [88]:
mu,sigma=50,10
s = np.random.normal(mu,sigma,100)

In [89]:
# Changing values at position 90 and 10 with 120 and -120 respectively
s[90] = 120
s[10] = -120

In [90]:
df = pd.DataFrame(s,columns={'Hello_Jan_Batch'})

In [91]:
mean = df['Hello_Jan_Batch'].mean()
standardDeviation = df['Hello_Jan_Batch'].std()
df['z_score'] = (df['Hello_Jan_Batch'] - mean)/standardDeviation

In [92]:
df.head(10)

   Hello_Jan_Batch   z_score
0        47.418511  0.015837
1        50.471562  0.161425
2        45.729349 -0.064712
3        48.787670  0.081127
4        48.314255  0.058552
5        48.041011  0.045522
6        48.066569  0.046741
7        52.966301  0.280389
8        42.397546 -0.223593
9        25.552842 -1.026850

In [100]:
df['outlier'] = abs(df['z_score']>1).astype(int)       # astype(int) is written so that it will convert true/false to 1/0

In [101]:
df.head(10)

   Hello_Jan_Batch   z_score  outlier
0        47.418511  0.015837        0
1        50.471562  0.161425        0
2        45.729349 -0.064712        0
3        48.787670  0.081127        0
4        48.314255  0.058552        0
5        48.041011  0.045522        0
6        48.066569  0.046741        0
7        52.966301  0.280389        0
8        42.397546 -0.223593        0
9        25.552842 -1.026850        0

In [102]:
df['outlier'].value_counts()

0    95
1     5
Name: outlier, dtype: int64