In [23]:
dictionary = {'name':list(map(lambda person:person.lower(),['SHASHANK','AKASH','RAM','ADITYA','SANJAY','SNEHA','KANIKA','AMRITA'])),
             'age':[24,26,25,30,25,23,26,25],
             'score':[100,200,10,25,30,31,50,25],
             'company':['Accenture','LTI','Accenture','Infosys','TCS','Accenture','TCS','Accenture'],
             'area':['borivali','borivali','virar','kandivali','nalasopara','borivali','borivali','andheri'],
             'salaray':[300,500,600,456,625,565,321,123],
             'gender':['male','male','male','male','male','female','female','female'],
             'education':['undergraduate','graduate','undergraduate','graduate','graduate','undergraduate','undergraduate','graduate']}

In [20]:
import pandas as pd

In [25]:
dictionaryFrame = pd.DataFrame(dictionary)
dictionaryFrame

       name  age  score    company        area  salaray  gender      education
0  shashank   24    100  Accenture    borivali      300    male  undergraduate
1     akash   26    200        LTI    borivali      500    male       graduate
2       ram   25     10  Accenture       virar      600    male  undergraduate
3    aditya   30     25    Infosys   kandivali      456    male       graduate
4    sanjay   25     30        TCS  nalasopara      625    male       graduate
5     sneha   23     31  Accenture    borivali      565  female  undergraduate
6    kanika   26     50        TCS    borivali      321  female  undergraduate
7    amrita   25     25  Accenture     andheri      123  female       graduate

In [55]:
salaryOfGraduateFemale = dictionaryFrame.groupby(['education','gender'])

In [56]:
for name,salary in salaryOfGraduateFemale:
    print(name)
    print(salary)

('graduate', 'female')
     name  age  score    company     area  salaray  gender education
7  amrita   25     25  Accenture  andheri      123  female  graduate
('graduate', 'male')
     name  age  score  company        area  salaray gender education
1   akash   26    200      LTI    borivali      500   male  graduate
3  aditya   30     25  Infosys   kandivali      456   male  graduate
4  sanjay   25     30      TCS  nalasopara      625   male  graduate
('undergraduate', 'female')
     name  age  score    company      area  salaray  gender      education
5   sneha   23     31  Accenture  borivali      565  female  undergraduate
6  kanika   26     50        TCS  borivali      321  female  undergraduate
('undergraduate', 'male')
       name  age  score    company      area  salaray gender      education
0  shashank   24    100  Accenture  borivali      300   male  undergraduate
2       ram   25     10  Accenture     virar      600   male  undergraduate

In [66]:
newdict = {'AKASH'.lower():24,'SHASHANK'.lower():25,'SANJAY'.lower():26}

In [88]:
for key,value in newdict.items():
    print(key.lower())

akash
shashank
sanjay